<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Games</title>

  <link rel="stylesheet" href="./css/styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <div id="container">
    <canvas id="myChart"></canvas>
  </div>

  <script>
    const chartData = JSON.parse('<%- JSON.stringify(data) %>')

    const ctx = document.getElementById('myChart').getContext('2d')
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        datasets: [{
          label: 'ratings',
          data: chartData.map(item => item.y),
          backgroundColor: [
            '#FF6384',
            '#36A2EB',
            '#FFCE56',
            '#00FF00',
            '#0000FF',
            '#FF00FF',
          ]
        }],
        labels: chartData.map(item => item.name)
      },
      options: {
        responsive: true
      }
    })
  </script>

</body>

</html>
