<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Games</h1>
    <% response?.hits.hits.forEach(hit => { %>
      <div>
        <h2><%= hit._source.title %></h2>
        <p><%= hit._source.rating %></p>
      </div>
    <% }); %>
<div class="container">
 
    